<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../includes/head.ejs') %>
</head>

<body class="h-screen">
  <%- include('../includes/navbar.ejs') %>
    <main class="flex items-center justify-center ">
      <section class="mt-10 h-full w-full max-w-4xl bg-slate-300 flex">
        <p>
          Hello, World!!
        </p>
      </section>
    </main>
</body>

</html>
